# Supabase Configuration
SUPABASE_URL=https://hrxsomyvovahzgwsrpmz.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhyeHNvbXl2b3ZhaHpnd3NycG16Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ2NzI3ODEsImV4cCI6MjEwMDI0ODc4MX0.5MF-XKaCqos9rySRg2ZSREjDLpXO2qNTre3baac6Aa0

# SerpAPI Configuration
SERPAPI_API_KEY=3838a7dacacbac1d80196b5bb211df0cf64b2a5aaa6bf07d0a2f8698d139a7d8

# Flask Server Config
PORT=5000
FLASK_ENV=development


